.container{
    width: 1200px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.nested{
    width: 25%;
    margin: 0;
    /* height: 100vh; */
    background-color: #242424;
}

.nested-list{
    padding-top: 25px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 70px;
    /* height: 100vh;
    background-color: #242424; */
}

.nested-item{
    list-style: none;
}
