.modal-btn{
    background: linear-gradient(90deg, #E828B2 0%, #F5576C 100%);
    border-radius: 22.5px;
}
.modal-text{
    padding : 14px;
    padding-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.modal-icon{
    margin-top:9px;
    margin-left: 1px;
}