.wrapper{
    overflow: hidden;
    overflow-y: auto;
    height: 70vh;

}
::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-thumb{
    background: transparent;
}
.pub-list{
   flex-wrap: wrap; 
}

.pub-title{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}
